p.ridge {border-style: ridge;}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 800px }

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 80%;
  
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: 250px;
  }
  .row.content {height: auto;} 
  #div_comment{display: none;}
}

.avatar{
  height: 50px; 
  width:50px ;
}
.unit{
    margin: 5px; 
    width: 80px;
  }

  .combobutton{
    background-color: #59a1ee; 
    border: none;
    width: 40%; 
    border-radius: 3px; 
    color: #FFFFFF; 
    margin: 4px; 
    padding: 8px; 
    font-size: 12px;
  }